$color-blue-primary-400: #2D609B;
$color-blue-variant-500: #4680B0;
$color-blue-variant-100: #0D1E4A;
$color-success-100: #D1FADF;
$color-success-500: #12B76A;
$color-background-gray-main: #F2F2F2;
$color-background-gray-modal: #F7F2FA;
$color-background-gray-disabled: #DCD8E0;
$color-background-blue: #BAD0E2;
$color-outline-gray-light: #D3D3D3;
$color-outline-gray-icons: #C4CDD5;
$color-outline-gray-disabled: #BCBABF;
$color-outline-gray-border: #79747E;
$color-text-black-300: #333333;
$color-text-black-200: #49454F;
$color-accent: #7EBBED;


